<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>SIGA - Início</title>
</head>
<body>

    <header>
    <h1>SIGA - Portal Académico</h1>
    <nav>
        <a href="{{ url_for('pagina_login') }}">Login</a>
    </nav>
    </header>

    <main>
    <h2>Mural de Anúncios</h2>

    {% for anuncio in anuncios %}
        <article class="anuncio">
            <h3>{{ anuncio.titulo }}</h3>
            <p class="data-anuncio">Publicado em: {{ anuncio.data }}</p>
            <p>{{ anuncio.conteudo }}</p>
        </article>
    {% endfor %}
    </main>

    <footer>
        <p>&copy; 2025 SIGA. Todos os direitos reservados.</p>
    </footer>

</body>
</html>