{% extends "layout.html" %}

{% block titulo %}Login{% endblock %}

{% block conteudo %}
    <h2>Acesso ao Portal</h2>

    <form action="{{ url_for('pagina_login') }}" method="POST">
        <div class="form-grupo">
            <label for="utilizador">Nome de Utilizador:</label>
            <input type="text" id="utilizador" name="utilizador" required>
        </div>
        <div class="form-grupo">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        </div>
        <button type="submit">Entrar</button>
    </form>
{% endblock %}